--extra-index-url https://download.pytorch.org/whl/cpu

funasr==1.3.21
g2pw==0.1.1
numpy==2.5.2
onnxruntime==1.29.0
piper-tts==1.7.0
sentence-stream==1.3.0
torch==2.11.0+cpu
torchaudio==2.11.0+cpu
unicode-rbnf==2.4.0
webrtcvad-wheels==2.0.14
